@import url(./responsiveness/hero.css);/*hero*/
@import url(./responsiveness/section1.css);/*section1*/
@import url(./responsiveness/section2.css);/*section2*/
@import url(./responsiveness/section3.css);/*section3*/
@import url(./responsiveness/section4.css);/*section4*/
@import url(./responsiveness/last-section.css);/*final section*/
@import url(./responsiveness/footer.css);/*footer*/




/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Mabry pro, sans-serif;
  overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2f4fff;
}

::selection {
  background-color: #ffffff;
  color: #2f4fff;
}

html {
  scroll-behavior: smooth;
}


/* sections */
.section {
  /* height: 500px; */
  background-color: #ffffff;
  position: relative;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

/* .hero3::before {
  content: "";
  width: 0%;
  height: 30px;
  position: absolute;
  bottom: -10px;
  z-index: 2;
  background-color: #00adb2;
  border-radius: 5px 5px 20px 20px;
  transition: all 2s ease;
} */

/* .hero3:hover::before {
  width: 80%;
} */


/* mobile nav */
.menubarnav{
  display: none;
}

.menubarnav.active{
  background: #2f4fff;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 300;
}

.menubarnav.active ul li{
  padding: 20px 0;
}

.menubarnav.active ul li a{
  color: white;
  font-size: 20px;
}

.menubarnav.active .close-bar{
  position: absolute;
  top: 16px;
  right: 2vw;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.close-bar svg{
  fill: white;
  width: 30px;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transition: opacity 1s, visibility 1s;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: '';
  width: 32px;
  height: 32px;
  border: 8px solid #dddddd;
  border-top-color: #2f4fff;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }

  to{
    transform: rotate(1turn);
  }
}



/* media queries */
@media (min-width:768px) {
  .menubarnav.active{
    display: none;
  }
}